.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #2c3e50;
    color: white;
    padding: 5px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.title{
    font-size: 16px;
    font-weight: bold;
}
.controls{
    display: flex;
    gap: 10px;
}
.controls button{
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    transition: ease-in-out 0.2s;
}
.controls button:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.close{
    background-color: #e74c3c;
}
.minimize{
    background-color: #f1c40f;
}
.maximize{
    background-color: #2ecc71;
}
