:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.os-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.window {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background: transparent;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.window-fullscreen {
    border-radius: 0 !important;
}

.window-content {
    flex: 1;
    overflow: auto;
}

.window-content-fullscreen {
    height: calc(100vh - 30px); 
}
